body {
    font-family: 'DM Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-image: url("/Assets/img/fondo\ 2.avif");
    background-size: cover;
    object-fit: cover;
     background-position: center;
}   

.navbar {
    background-color: #CDEC97! important;
}

.titulo{
    margin-top: 150px;
    text-align: center;
}


.container{
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.buttons{
    display: flex;
    flex-direction: column;   
    margin-bottom: 100px !important; 
}

.btn{
    text-decoration: none;
    padding: 20px 50px;
    font-size: 1.5rem;
    position: relative;
    margin: 32px;
}

.btn-3{
    color: white;
    border-radius: 40px;    
    box-shadow: 0 0 0 0 rgba(64, 248, 125, 0.5), 0 0 0 0 rgba(55, 230, 2, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    overflow: hidden;
}

.btn-3::after{
    content: "";
    width: 400px;
    height: 400px;
    position: absolute;
    top: -50px;
    left: -100px;
    background: #13ff13;
    background-image: linear-gradient(-225deg, #285715 0%, #29b91c 29%, #13ff27 67%, #33ff00 100%);
    z-index: -1;
    transition: transform 0.5s ease;
}

.btn-3:hover{
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0 rgba(55, 230, 2, 0.5), -10px 10px 25px 0 rgba(64, 248, 125, 0.5);
}

.btn-3:hover::after{
    transform: rotate(150deg);
}

/*:::::Pie de Pagina*/
.pie-pagina{
    width: 100%;
    background-color: #0a141d;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}

.imagenFooter{

    width: 50px !important;
}