
body {
    background-image: url(/ClinicaSanMiguel/Assets/img/Fondo\ principal.jpg);
    font-family: 'DM Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: #CDEC97! important;
}

.carouselbanner{
    width: 100%;
    
}

.transformar:hover{
    transform: scale(1.3);
}

