body {
    font-family: 'DM Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}   

.navbar {
    background-color: #CDEC97! important;
}

.botones {
    margin-top: 200px;
}

.container{
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons{
    display: flex;
    flex-direction: column;    
}

.btn{
    text-decoration: none;
    padding: 20px 50px;
    font-size: 1.5rem;
    position: relative;
    margin: 32px;
}

.btn-3{
    color: white;
    border-radius: 40px;    
    box-shadow: 0 0 0 0 rgba(64, 248, 125, 0.5), 0 0 0 0 rgba(55, 230, 2, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    overflow: hidden;
}

.btn-3::after{
    content: "";
    width: 400px;
    height: 400px;
    position: absolute;
    top: -50px;
    left: -100px;
    background: #13ff13;
    background-image: linear-gradient(-225deg, #285715 0%, #29b91c 29%, #13ff27 67%, #33ff00 100%);
    z-index: -1;
    transition: transform 0.5s ease;
}

.btn-3:hover{
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0 rgba(55, 230, 2, 0.5), -10px 10px 25px 0 rgba(64, 248, 125, 0.5);
}

.btn-3:hover::after{
    transform: rotate(150deg);
}